<div class="container">
  <h1>View Customer</h1>

  <a href="#" routerLink="/customers/index" class="btn btn-primary">Back</a>

  <div>
    <strong>Last Order Date:</strong>
    <p>{{ customer.lastOrderDate }}</p>
  </div>

  <div>
    <strong>Customer Address:</strong>
    <p>{{ customer.customerAddress }}</p>
  </div>

  <div>
    <strong>Customer Code:</strong>
    <p>{{ customer.customerCode }}</p>
  </div>

  <div>
    <strong>Customer Name:</strong>
    <p>{{ customer.customerName }}</p>
  </div>

  <div>
    <strong>Customer Phone:</strong>
    <p>{{ customer.customerPhone }}</p>
  </div>

  <div>
    <strong>PIC:</strong>
    <p>{{ customer.pic }}</p>
  </div>
</div>
